{% extends "mini_base.html" %}


{% block title %}<h5 class="card-title text-center mb-5 fw-light fs-5 font">Change you password</h5>{% endblock %}
{% block content %}
    <div class="card-body p-4 p-sm-5">

        <form action="." method="post">
            {% csrf_token %}
            <div class="form-floating mb-3 mar">
                <label for="id_old_password" class="lab"></label>
                <input aria-describedby="password-errors"
                       type="password" class="form-control hei"
                       name="old_password"
                       autocomplete="new-password" required id="id_old_password"
                       placeholder="Old Password">
            </div>

            <div class="form-floating mb-3 mar">
                <label for="id_new_password1" class="lab"></label>
                <input aria-describedby="password-errors"
                       type="password" class="form-control hei"
                       name="new_password1"
                       autocomplete="new-password" required id="id_new_password1"
                       placeholder="New Password">
            </div>


            <div class="form-floating mb-3 mar">
                <label for="id_new_password2" class="lab"></label>
                <input aria-describedby="password-confirm-errors"
                       type="password" class="form-control hei" name="new_password2"
                       autocomplete="new-password" required id="id_new_password2"
                       placeholder="Confirm Password">
            </div>
            <div class="d-grid mb-2">
                <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase font" type="submit">
                    Change password
                </button>
            </div>

        </form>
    </div>
{% endblock %}