{% extends "mini_base.html" %}
{% block title %}<h5 class="card-title text-center mb-5 fw-light fs-5 font">Reset your Password</h5>{% endblock %}

{% block content %}

        <form method="POST">
        {% csrf_token %}

        <div style="font-size: small; color: red">
            {% for field in form.visible_fields %}
                {{ field.errors }}
            {% endfor %}</div>
        <div class="form-floating mb-3 mar">
            <label for="id_email" class="lab">Your email:</label>
            <input aria-describedby="email-errors"
                   type="email" class="form-control hei"
                   name="email"
                   autocomplete="new-email" required id="id_email"
                   placeholder="">
        </div>
          <div class="d-grid mb-2">
            <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase font" type="submit">
                Reset password
            </button>
        </div>
        </form>
{% endblock %}