{% extends "mini_base.html" %}

{% block title %}
    <h5 class="card-title text-center mb-5 fw-light fs-5 font">SIGN UP</h5>
{% endblock %}
{% block content %}
    <div class="card-body p-4 p-sm-5">
        <form method="POST">
            {% csrf_token %}
            <div style="font-size: small; color: red">
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                {% endfor %}</div>
            <div class="form-floating mb-3 mar">

                <label for="id_username" class="lab"> </label>
                <input aria-describedby="username-errors" type="text"
                       class="form-control hei" name=username
                       id="id_username" autocomplete=username
                       placeholder="Username" required autofocus value="">


                <div id="username-errors">
                </div>
            </div>

            <div class="form-floating mb-3 mar">
                <label for="id_email" class="lab"></label>
                <input aria-describedby="email-errors" autocomplete="email"
                       type="email" class="form-control hei"
                       name='email' required id="id_email"
                       placeholder="Email address">
                <div id="email-errors">

                </div>
            </div>


            <div class="form-floating mb-3 mar">
                <label for="id_password1" class="lab"></label>
                <input aria-describedby="password-errors"
                       type="password" class="form-control hei"
                       name="password1"
                       autocomplete="new-password" required id="id_password1"
                       placeholder="Password">
                <div id="password-errors">

                </div>

            </div>

            <div class="form-floating mb-3 mar">
                <label for="id_password2" class="lab"></label>
                <input aria-describedby="password-confirm-errors"
                       type="password" class="form-control hei" name="password2"
                       autocomplete="new-password" required id="id_password2"
                       placeholder="Confirm Password">
                <div id="password-confirm-errors">

                </div>


            </div>
            <div class="d-grid mb-2">
                <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase font" type="submit">
                    Register
                </button>
            </div>

        </form>
        <a class="d-block text-center mt-2 small" href="{% url 'login' %}">Have an account? Sign In</a>

        <hr class="my-4">

        <div class="d-grid mb-2">
            <button class="btn btn-lg btn-google btn-login fw-bold text-uppercase font" type="submit">
                <i class="fab fa-google me-2"></i> Sign up with Google
            </button>
        </div>

        <div class="d-grid">
            <button class="btn btn-lg btn-facebook btn-login fw-bold text-uppercase font" type="submit">
                <i class="fab fa-facebook-f me-2"></i> Sign up with Facebook
            </button>
        </div>

    </div>
{% endblock %}
