{% extends "base_generic.html" %}
{% block title %}
{{ object.title }}
{% endblock %}
{% block content %}
    {% load cache %}
    {% cache 60 object.title object.image object.price object.rating %}
    <h1 class="h"></h1>
    <p class="td">
        <img src="{{ object.image }}"><br>
        Price - {{ object.price }} $<br>
        Rating - {{ object.rating }} ★ <br>
        Authors -
        {% if queryset %}
            {% for i in queryset %}
                {{ i }}<br>
            {% endfor %}
        {% else %}
            Unknown author
        {% endif %}
    {% endcache %}
    <form action="{% url "cart:cart_add" product_id=book.id %}" method="post">
        {% csrf_token %}
        {{ cart }}

        <input type="submit" class="nav-link px-2 btn btn-secondary text-white js-contact" value="Add to cart">
    </form>
{% endblock %}